@import url(//db.onlinewebfonts.com/c/357c31b34bc6d0655d3b3b5e0a48c570?family=Amerigo+BT);

:root {
  --font-amerigo: "Amerigo BT", "Courier New", Courier, monospace;
  --blue-clr: #1e2a3c;
  --orange-clr: #FD841F
}

.seperator {
  border: 1px solid lightgrey;
  filter: drop-shadow(0px 2px 1px var(--orange-clr));
}

.navbar {
  z-index: 5 !important;
  background-color: #12233d;
  border-bottom: 1px solid #fff;
}

.company-name {
  font-family: "Amerigo BT";
  font-size: 1.5em;
  font-weight: bolder;
  color: var(--orange-clr);
}

.navbar-nav{
  position: absolute;
  left: 33%;
}

.navbar-item a{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  color: #fff;
}

.navbar-item a:hover {
  color: var(--orange-clr);
}

.login-btn {
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid var(--orange-clr);
  color: var(--orange-clr) !important;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0rem 2rem !important;
  margin-left: 300px !important;
}

.login-btn:hover {
  background-color: var(--orange-clr);
  color: #fff !important;
  border: none !important;
  box-shadow: 1px 1px 20px 1px var(--orange-clr);
}


/* hero section  */
.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e2a3c;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  text-align: center;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  font-family: var(--font-amerigo);
  font-size: 5em !important;
  font-weight: 900 !important;
  color: #fff;
}

.hero-text span:nth-of-type(1),
.hero-text span:nth-of-type(2) {
  font-size: 3rem;
  color: var(--orange-clr);
}


.custom-btn {
  border-radius: 50px;
  border: 2px solid red;
  background-color: #fff;
  width: 200px;
}

.custom-btn-text {
  color: var(--blue-clr);
  margin: 2px;
  padding: 10px 20px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.custom-btn:hover {
  background-color: var(--orange-clr);
  color: #fff;
  transition: all 0.3s ease;
  border: 2px solid var(--orange-clr);
}

/* banner section  */
.banner-section {
  padding: 2rem 1rem;
  background-color: var(--orange-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.banner-section h2 {
  color: #fff;
  font-weight: 800;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
}

.banner-section p {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

/* section 1  */
.seaction-1-heading {
  font-family: var(--font-amerigo);
  color: var(--blue-clr);
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0px 1rem 0px;
}

.section-1-text {
  color: var(--blue-clr);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.green-line {
  background-color: darkgreen;
  width: 40%;
  margin: 0 auto;
}


.section1 {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


.section-text .row {
  width: 75%;
}

.section-text .row h5 {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: var(--blue-clr);
  font-weight: 700;
  font-size: 1rem;
}

.section-text .row p {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: #413c7493 !important;
  font-size: 0.8rem;
  font-weight: 600;
}

.section-text .row a {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: 700;
}

.mobile-img {
  width: 50% !important;
}

.svgimgicons {
  width: 25%;
}

/* characters */
.characters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 !important;
}

.character-img {
  width: 85%;
}

.character-text {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.character-text h3 {
  font-family: var(--font-amerigo);
  color: var(--blue-clr);
  font-weight: 700;
  font-size: 3.5rem;
}

.character-text p {
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  color: #413c74e9;
  width: 70%;
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0px 40px 0;
}


/* more just tinder  */
.more-just {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  background-color: var(--blue-clr);
  padding: 2rem 1rem;
}

.textpart {
  flex: 50% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px 0px;
}

.textpart h3 {
  font-family: var(--font-amerigo);
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  position: relative;
  z-index: 100;
}

.textpart h3::after {
  content: " ";
  width: 68%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 21%;
  background-color: var(--orange-clr);
  opacity: 0.4;
  z-index: -10;
}

.textpart p {
  font-family: var(--font-amerigo);
  color: #fff;
  font-size: 1rem;
  margin: 15px 0px;
}



/* newsletter section  */

.newsletter {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/images/newsletterbg.jpg);
}

.newsletter h2 {
  font-family: var(--font-amerigo);
  color: var(--blue-clr);
  font-size: 3.7em;
  font-weight: 800;
  margin: 0px 10px;
}

.newsletter .input-send {
  margin: 50px 0px;
}

.newsletter .input-send input {
  border-radius: 50px 50px 50px 50px;
  padding: 30px;
  width: 60vw;
  border: none;
  position: relative;
}

.newsletter .input-send input::placeholder {
  color: var(--blue-clr);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.newsletter .input-send input:focus{
  outline: none;
}

.newsletter .input-send button {
  border-radius: 50px;
  width: 10vw;
  padding: 30px;
  font-size: 16px;
  background-color: var(--orange-clr);
  border: none;
  color: #fff;
  position: absolute;
  left: 71%;
}

/* footer  */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 25px 0px;
  background-color: var(--blue-clr);
}

footer .logo a,
footer .options ul,
footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

footer .logo a {
  font-family: var(--font-amerigo);
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}

footer .logo a img {
  width: 18%;
}

footer .options ul {
  display: flex;
  gap: 2rem;
}

footer .options ul li {
  list-style-type: none;
}

footer .options ul li a {
  text-decoration: none;
  color: coral;
}

footer .options ul li a span {
  color: #fff;
}


.social a {
  text-decoration: none;
  margin: 0px 10px;
}

.social a img:hover{
  width: 28px;
  filter: drop-shadow(0px 0px 5px var(--orange-clr));
}




@media (min-width: 280px) {
  .company-logo {
    width: 40px;
  }

  .hero-text {
    font-size: 1.8rem;
  }

  .hero-text span:nth-of-type(1),
  .hero-text span:nth-of-type(2) {
    font-size: 1.2rem;
    color: var(--orange-clr);
  }
  /* .footer-part {
    flex-direction: column;
  }

  .footer-part .options,
  .footer-part .social-media {
    display: block;
  } */

}

@media (min-width: 360px) {
  .company-logo {
    width: 60px;
  }

  .hero-section {
    flex-direction: row;
  }

  .hero-text {
    font-size: 2.8rem;
  }

  .hero-text span:nth-of-type(1),
  .hero-text span:nth-of-type(2) {
    font-size: 1.2rem;
    color: var(--orange-clr);
  }
}

@media (min-width: 768px) {
  .company-logo {
    width: 80px;
  }

  .hero-text {
    font-size: 3.2rem;
  }

  .hero-text span:nth-of-type(1),
  .hero-text span:nth-of-type(2) {
    font-size: 2rem;
    color: var(--orange-clr);
  }
  
  .login-btn {
    margin-left: 50px !important;
  }

}

@media (min-width: 1020px) {
  .company-logo {
    width: 80px;
  }

  .hero-text {
    font-size: 3.6rem;
  }
  
  .login-btn {
    margin-left: 75px !important;
  }

}

@media (max-width:1020px) {

  /* hero section  */
  /* .hero-text-container {
    top: 30%;
  } */

  .hero-text {
    font-size: 3rem !important;
  }


  /* button  */
  .custom-btn {
    width: 155px;
  }

  .custom-btn-text {
    font-size: 0.9rem;
  }

  /* -------------  */

  .more-just,
  .section1  {
    display: block;
  }

  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-text .row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .section-text .row h5 {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: var(--blue-clr);
    font-weight: 700;
    font-size: 2rem;
    margin: 20px 0px;
  }
  
  .section-text .row p {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #413c7493 !important;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 15px 0px;
  }

  .mobile-img {
    width: 60% !important;
  }

  .svgimgicons {
    width: 15%;
  }

  /* characters  */
  .characters {
    display: flex;
    flex-direction: column-reverse;
  }

  .character-text {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .character-img {
    width: 100%;
  }


  /* newsletter */
  .newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .newsletter .input-send {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .newsletter .input-send input {
    position: relative;
  }

  .newsletter .input-send button {
    position: relative;
    left: auto;
    margin-top: 10px;
    /* width: 15vw; */
    padding: 15px;
  }


  /* footer  */
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 25px 0px;
    background-color: var(--blue-clr);
  }

  .col-4 {
    min-width: 90%;
    margin: 15px 0px;
  }

}

@media (min-width: 1201px) {
  .company-logo {
    width: 80px;
  }

  .hero-text {
    font-size: 2.5rem;
  }

  .login-btn {
  margin-left: 150px !important;
  }
}

@media (min-width: 1270px) {
  .login-btn {
    margin-left: 250px !important;
  }
}

@media (min-width: 1390px) {
  .login-btn {
    margin-left: 340px !important;
  }
}


@media (max-width: 600px) {

  /* hero section  */

  .hero-section {
    height: 350px;
  }

  .hero-text-container {
    max-width: 90%;
  }

  .hero-text {
    font-size: 2.2rem !important;
  }

  .hero-img {
    width: 50% !important;
  }

  .seaction-1-heading {
    font-size: 2.5rem;
  }

  /* button  */
  .custom-btn {
    width: 140px;
  }

  .custom-btn-text {
    font-size: 0.8rem;
    padding: 5px;
  }

  .section-text .row img {
    width: 25%;
  }


  .more-just .textpart img {
    width: 30%;
  }


  /* newsletter  */

  .newsletter {
    height: 450px;
  }
  .newsletter h2 {
    font-size: 3rem;
  }

  .newsletter .input-send input {
    position: relative;
    padding: 15px;
    width: 85vw;
  }

  .newsletter .input-send input::placeholder {
    font-size: 0.7rem;
    color: #413c74bf;
  }

  .newsletter .input-send button {
    position: relative;
    left: auto;
    margin-top: 25px;
    width: 15vw;
    padding: 5px;
  }


  /* footer  */
  
  footer .options ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 280px) {

  .hero-section {
    height: 400px;
  }

  .company-logo {
    width: 40px;
  }

  .hero-text {
    font-size: 1.8rem;
  }

  .custom-btn {
    width: 150px;
  }
  .custom-btn-text {
    font-size: 1rem;
    font-weight: 700;
  }


  .seaction-1-heading {
    font-size: 2rem;
  }


  .section-text .row {
    margin: 0;
    padding: 0;
    min-width: 90%;
  }

  .section-text .row img {
    width: 60%;
  }

  .section-text .row h5 {
    text-align: center;
  }

  /* character  */

  .character-text h3 {
    font-size: 2.5rem;
  }

  .character-text p {
    font-size: 0.8rem;
  }


  .more-just .textpart h3 {
    font-size: 2.5rem;
  }

  .more-just .textpart p {
    font-size: 0.8rem;
  }

  .more-just .textpart img {
    width: 50%;
  }

  /* newsletter  */

  .newsletter {
    height: 300px;
  }
  .newsletter h2 {
    font-size: 2rem;
  }

  .newsletter .input-send input {
    position: relative;
    padding: 15px;
    width: 85vw;
  }

  .newsletter .input-send input::placeholder {
    font-size: 0.7rem;
    color: #413c74bf;
  }

  .newsletter .input-send button {
    position: relative;
    left: auto;
    margin-top: 15px;
    width: 25vw;
    padding: 5px;
  }

}